In [3]:
## Data Science

In [4]:
### Tabelas

In [5]:
import pandas as pd

pokemons = pd.read_excel('TabelaPokemon.xlsx', index_col=0)  

pokemons

            Tamanho(m)  Peso(Kg)
Nome
Charmander         0.6       8.5
Pidgey             0.3       1.8
Bulbasaur          0.7       6.9
Squirtle           0.5       9.0
Caterpie           0.3       2.9
Pikachu            0.4       6.0
Charizard          1.7      90.5
Lapras             2.5     220.0

In [6]:
pokemons.sort_values('Peso(Kg)')

            Tamanho(m)  Peso(Kg)
Nome
Pidgey             0.3       1.8
Caterpie           0.3       2.9
Pikachu            0.4       6.0
Bulbasaur          0.7       6.9
Charmander         0.6       8.5
Squirtle           0.5       9.0
Charizard          1.7      90.5
Lapras             2.5     220.0

In [7]:
# Soma cada item
pokemons.sum(axis=1)

Nome
Charmander      9.1
Pidgey          2.1
Bulbasaur       7.6
Squirtle        9.5
Caterpie        3.2
Pikachu         6.4
Charizard      92.2
Lapras        222.5
dtype: float64

In [8]:
# Soma cada coluna
pokemons.sum(axis=0)
# ou apenas pokemons.sum()

Tamanho(m)      7.0
Peso(Kg)      345.6
dtype: float64

In [9]:
# Tira a m√©dia dos items
pokemons.mean()

Tamanho(m)     0.875
Peso(Kg)      43.200
dtype: float64

In [10]:
pokemons.describe()

       Tamanho(m)    Peso(Kg)
count    8.000000    8.000000
mean     0.875000   43.200000
std      0.797765   77.375559
min      0.300000    1.800000
25%      0.375000    5.225000
50%      0.550000    7.700000
75%      0.950000   29.375000
max      2.500000  220.000000